.nav-buttons li a.btn {
    padding: 6px 12px;
    min-height: 0px;
    color: inherit;
}


.device-table .device-title {
    /*color:#ffffff;*/
}

.device-table .link {
    cursor: pointer;
}

.pointer-click:hover {
    background-color: #ebeff3;
}

.pointer-click {
    cursor: pointer;

}

.device-table .good {
    /*background-color: #7cc623;*/
}

.device-table .good {

}

.graph {
    position: relative;
}

.graph .tooltip {
    position: absolute;
    display: none;
    color: #222222;
    border: 1px solid #dddddd;
    padding: 2px;
    background-color: #eeeeee;
    opacity: 0.80
}

.nav-search #clear-search {
    display: none;
    color: #ec4758;
}

.agile-list li:hover {
    cursor: default;
}

.navbar-minimalize{
    margin-top: 12px;
    color: #999c9e;
}
.msgs-prep {
    position: relative;
    padding: 40px 10px 10px;
    text-align: right;
}

.msgs-info .msgs-desc {
    position: relative;
}

.msgs-info .msgs-desc .btn-check-info {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.device-table .sensor-icon {
    display: block;
    width: 34px;
    height: 34px;
    position: relative;
    /* top: 9px; */
    left: 5px;
    margin: 0px 0px 0px 0px;
}

.flot-legend .flot-legend-value {
    padding-left: 10px;
}

.flot-legend .flot-legend-value:after{

}
.filters-popup {
    max-width: 1024px;
}

.input-filter {
    position: relative;
}

.input-filter .cancel-filter {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 8px;
    right: 10px;
}

.input-filter .cancel-filter.show {
    display: block;
}

.form-inline .input-group>.form-control {
    width: 80px;
    text-align: center;
}

.nav-tabs .tab-icon.fa-icon {
    font-size: 2.8rem;
    margin: 0 auto;
}

.device-table .alarm-connect .sensor-icon {
    background-position: 0 100%;
}

.ui-card {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    flex-basis: 342px;
    margin: 15px;
    padding: 20px;
    background: #fff;
    overflow: hidden;
    font-size: 120%;
    text-align: left;
    color: #444;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.4);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.4);
    -ms-box-shadow: 0 1px 4px rgba(0,0,0,.4);
    -o-box-shadow: 0 1px 4px rgba(0,0,0,.4);
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
    border-left: 2px solid transparent;
}

.ui-card.ui-falarm-main-view-power, .ui-falarm-main-view-battery {
    border-color: #a6d000;
}

.ui-card-icon {
    float: right;
    width: 32px;
    height: 32px;
    margin-left: 20px;
    vertical-align: top;
}

.ui-card h1 {
    margin-top: 0;
    font-size: 160%;
    font-weight: 100;
    margin-bottom: .4em;
}

.ui-card.ui-falarm-main-view-gsm {
    border-color: #f0662f;
}

.ui-card-icon .fa {
    font-size: 30px;
}

.ui-card table td,
.ui-card table th {
    font-size: 14px;
}

.ui-card table td {
    font-weight: 100;
    padding: 5px 10px;
}

.ui-card table th {
    padding: 5px 10px;
    padding-left: 0;
}

.ui-cards-container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
}

.ui-card.ui-card-col-2 {
    flex-basis: 614px;
}

.ui-thermometers-view-therms-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.ui-thermometers-view-therm {
    display: inline-block;
    position: relative;
    text-align: left;
    padding-bottom: 20px;
    min-width: 200px;
}

@media not screen and (max-width:480px) {
    .ui-thermometers-view-therm,
    .ui-thermometers-view-therm:first-of-type:nth-last-of-type(1) .ui-thermometers-view-therm,
    .ui-thermometers-view-therm:first-of-type:nth-last-of-type(2) .ui-thermometers-view-therm,
    .ui-thermometers-view-therm:nth-of-type(2):last-of-type .ui-thermometers-view-therm {
        margin: 0 35px;
    }
}

.ui-thermometers-view-therm-title {
    zoom: 1;
    position: absolute;
    width: 100%;
    color: #777;
}


.ui-thermometers-view-therm-title-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ui-thermometers-view-therm-title:after, .ui-thermometers-view-therm-title:before {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    overflow: hidden;
}

.ui-thermometers-view-therm-title:after {
    clear: both;
}

.ui-thermometers-view-therm-value {
    color: #222;
    font-weight: 100;
    border-left: 1px solid transparent;
}

.ui-sortable-handle {
    cursor: pointer;
}

.ui-custom-control-button {
    height: 40px;
    padding: 0 30px;
    margin: 5px 10px;
    border-radius: 20px;
    overflow-y: hidden;
    border: 1px solid #bebebe;
}

.ui-custom-control-button:not(.ui-custom-control-button-clickable) {
    pointer-events: none;
    background: #eee;
}

.ui-custom-control-button-sizeholder {
    visibility: hidden;
    text-transform: uppercase;
}

.ui-custom-control-button .ui-control-button-label {
    line-height: 40px;
    -webkit-transition: opacity 1.5s 2s;
    -moz-transition: opacity 1.5s 2s;
    -ms-transition: opacity 1.5s 2s;
    -o-transition: opacity 1.5s 2s;
    transition: opacity 1.5s 2s;
}

.events-alert-count {
    background-color: #ff3b3b;
    border-radius: 50%;
    padding: 2px 7px;
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
}

.nav-tabs li {
    position: relative;
}

.graph .graph-name {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 10px;
    font-size: 25px;
}

@media not screen and (max-width: 480px){
    .ui-thermometers-view-therm-title {
        font-size: 14px;
    }
    .ui-thermometers-view-therm-title-text {
        margin-left: 20px;
    }

    .ui-thermometers-view-therm-value {
        border-left-width: 4px;
        padding-left: 15px;
        font-size: 42px;
        margin-top: 20px;
    }
}