@font-face {
  font-family: "Montserrat";
  src: url('..//fonts/Montserrat-LightItalic.eot') format('embedded-opentype'),
  url('..//fonts/Montserrat-LightItalic.ttf') format('truetype'),
  url('..//fonts/Montserrat-LightItalic.woff2') format('woff2'),
  url('..//fonts/Montserrat-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url('..//fonts/Montserrat-Light.eot') format('embedded-opentype'),
  url('..//fonts/Montserrat-Light.ttf') format('truetype'),
  url('..//fonts/Montserrat-Light.woff2') format('woff2'),
  url('..//fonts/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url('..//fonts/Montserrat-Regular.eot') format('embedded-opentype'),
  url('..//fonts/Montserrat-Regular.ttf') format('truetype'),
  url('..//fonts/Montserrat-Regular.woff2') format('woff2'),
  url('..//fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url('..//fonts/Montserrat-Italic.eot') format('embedded-opentype'),
  url('..//fonts/Montserrat-Italic.ttf') format('truetype'),
  url('..//fonts/Montserrat-Italic.woff2') format('woff2'),
  url('..//fonts/Montserrat-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url('..//fonts/Montserrat-Medium.eot') format('embedded-opentype'),
  url('..//fonts/Montserrat-Medium.ttf') format('truetype'),
  url('..//fonts/Montserrat-Medium.woff2') format('woff2'),
  url('..//fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url('..//fonts/Montserrat-MediumItalic.eot') format('embedded-opentype'),
  url('..//fonts/Montserrat-MediumItalic.ttf') format('truetype'),
  url('..//fonts/Montserrat-MediumItalic.woff2') format('woff2'),
  url('..//fonts/Montserrat-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url('..//fonts/Montserrat-SemiBold.eot') format('embedded-opentype'),
  url('..//fonts/Montserrat-SemiBold.ttf') format('truetype'),
  url('..//fonts/Montserrat-SemiBold.woff2') format('woff2'),
  url('..//fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url('..//fonts/Montserrat-SemiBoldItalic.eot') format('embedded-opentype'),
  url('..//fonts/Montserrat-SemiBoldItalic.ttf') format('truetype'),
  url('..//fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
  url('..//fonts/Montserrat-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url('..//fonts/Montserrat-Bold.eot') format('embedded-opentype'),
  url('..//fonts/Montserrat-Bold.ttf') format('truetype'),
  url('..//fonts/Montserrat-Bold.woff2') format('woff2'),
  url('..//fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url('..//fonts/Montserrat-BoldItalic.eot') format('embedded-opentype'),
  url('..//fonts/Montserrat-BoldItalic.ttf') format('truetype'),
  url('..//fonts/Montserrat-BoldItalic.woff2') format('woff2'),
  url('..//fonts/Montserrat-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}