/*
custom css for all pages
*/

.ps > .ps__scrollbar-y-rail {
  z-index: 10;
}

.left-sidebar {
  padding-bottom: 260px;
}

.scroll-sidebar {
  position: relative;
}

.sidebar-nav .notify {
  top: -16px;
  right: -27px;
}

.sidebar-nav .sidebar-link .label {
  margin-top: -10px;
}

.sidebar-nav .sidebar-link .hide-menu {
  text-transform: lowercase;
  color: #333;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.sidebar-nav .sidebar-link:hover .hide-menu {
  color: #fc4349 !important;
}

.sidebar-nav .sidebar-link .hide-menu strong {
  text-transform: uppercase;
}

.sidebar-nav .hidden-text {
  display: none;
  font-weight: bold;
  color: #333;
}

.mini-sidebar .navbar-brand .light-logo {
  width: 50px;
}

.mini-sidebar .scroll-sidebar {
  position: absolute;
  height: auto;
  padding: 0;
  bottom: 270px;
  top: 70px;
}

.mini-sidebar .sidebar-nav .notify {
  top: -5px;
  right: -24px;
}

.mini-sidebar .hidden-text {
  display: block;
}

.mini-sidebar .sidebar-nav li .sidebar-link {
  padding: 12px 30px 12px 10px !important;
  width: 190px;
}

.mini-sidebar .sidebar-nav li:hover .sidebar-link .notify {
  top: -16px;
  right: -12px;
}

.mini-sidebar .sidebar-nav li:hover .sidebar-link .hidden-text {
  display: none;
}

.sidebar-nav .sidebar-link.active {
  background-color: #f3f4f4;
  border-left: 3px solid #fc4349;
}

.sidebar-login {
  height: 100%;
}

.sidebar-login .sidebar-nav li {
  margin: 0;
}

.sidebar-login .li-hr {
  margin: 10px auto;
  width: 80%;
  border-top: 2px solid rgba(0, 0, 0, .1);
}

.sidebar-login .login-name {
  color: #333;
  padding: 10px 35px 10px 15px;
  display: block;
  font-size: 15px;
  font-weight: 500;
}

.sidebar-login .sidebar-nav .sidebar-link {
  color: #333;
  width: auto !important;
}

.sidebar-login .sidebar-nav .sidebar-link i {
  font-size: 20px;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.sidebar-login .sidebar-nav .sidebar-link .hide-menu {
  font-size: 14px;
}

.sidebar-login .sidebar-nav .sidebar-toggler {
  color: #333;
}

.sidebar-login .sidebar-nav .sidebar-toggler i {
  font-size: 20px;
  float: right;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.sidebar-login .sidebar-nav .sidebar-toggler .hidden-icon {
  display: none;
}

.sidebar-login .sidebar-nav .sidebar-toggler span {
  font-size: 14px;
  float: right;
  margin-right: 10px;
}

.sidebar-login .sidebar-nav .sidebar-link:hover {
  color: #fc4349;
}

.sidebar-login .sidebar-nav .sidebar-link:hover i {
  color: #fc4349;
}

.sidebar-login .sidebar-nav .sidebar-toggler:hover {
  color: #fc4349;
}

.sidebar-login .sidebar-nav .sidebar-toggler:hover i {
  color: #fc4349;
}

.mini-sidebar .sidebar-login {
  position: absolute;
  bottom: 0;
  height: 270px;
  width: 100%;
  background-color: white;
  z-index: 2;
}

.mini-sidebar .sidebar-login .sidebar-toggler .hidden-icon {
  display: block;
  float: left;
}

.mini-sidebar .sidebar-login .login-name {
  font-size: 10px;
  padding: 10px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.mini-sidebar .sidebar-login .sidebar-link i:before {
  margin-left: 8px;
}

.top-navbar .navbar-collapse {
  overflow-x: auto;
}

.top-navbar .navbar-nav .nav-item a {
  white-space: nowrap;
}

.search-box .app-search .srh-btn {
  position: absolute;
  top: 23px;
  right: 15px;
  width: auto;
  height: auto;
  cursor: pointer;
  background: #ffffff;
  font-size: 14px;
}

.search-box .app-search .go-btn {
  position: absolute;
  top: 22px;
  right: 55px;
  font-size: 16px;
  cursor: pointer;
  background: #ffffff;
}

.search-box .app-search input {
  width: 100%;
  padding: 25px 100px 25px 20px;
}

.events-box .events-toggler {
  font-size: 16px;
  font-weight: normal;
  color: #d7dadb !important;
  padding: .5rem 1rem;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 54px;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.events-box .events-toggler:hover {
  color: #32383e !important;
}

.events-box .events-toggler.active {
  display: block;
}

.events-box .events-toggler-off {
  padding-right: 30px;
  display: none;
}

.events-box .events-toggler-on {
  display: none;
}

.events-box .events-toggler-off .notify {
  top: -20px;
  right: -22px;
}

.nav-filter a {
  font-size: 16px;
  font-weight: normal;
  color: #d7dadb !important;
  padding: .5rem 1rem;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 54px;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.nav-filter a span {
  text-decoration: underline;
}

.nav-filter a:hover {
  color: #32383e !important;
}

.nav-filter a.active {
  color: #333 !important;
}

.page-wrapper {
  padding-bottom: 0;
}

.event-card {
  margin-bottom: 0;
}

.event-card .card-body {
  padding: 0;
  width: 220px;
}

.event-card .card-title {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  color: #333;
  font-weight: 600;
}

.event-card .card-title .point {
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 6px;
  width: 6px;
  height: 6px;
  border-radius: 30px;
  background-color: #ff5c6c;
}

.event-card .event-list {
  height: 100%;
  position: relative;
  max-height: calc(100vh - 120px - 50px);
}

.event-card .event-item {
  border: none !important;
  -webkit-transition: background-color .2s ease;
  -o-transition: background-color .2s ease;
  transition: background-color .2s ease;
  display: inline-table;
}

.event-card .event-item:nth-child(odd) {
  background-color: #f4f4f5;
}

.event-card .event-item.alarm-active {
  background-color: #ffe3e4;
}

.event-card .event-item .event-title {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.event-card .event-item .event-title h5 {
  font-size: 15px;
  font-weight: 500;
  color: #333;
}

.event-card .event-item .event-title small span {
  float: right;
}

.charts-block {
  min-width: 320px;
}

.charts-block .charts-card {
  margin-bottom: 0;
}

.charts-block .charts-card .card-body {
  padding: 0;
}

.charts-block .charts-card .card-body.show {
  margin-left: -800px;
  background-color: white;
  border-left: 1px solid rgba(120, 130, 140, 0.13);
  z-index: 10;
}

@media screen and (max-width: 1680px) {
  .charts-block .charts-card .card-body.show {
    margin-left: -500px;
  }
}

@media screen and (max-width: 1350px) {
  .charts-block .charts-card .card-body.show {
    margin-left: -400px;
  }
}

@media screen and (max-width: 830px) {
  .charts-block .charts-card .card-title .btn-graphics-toggle {
    display: none;
  }
}

.charts-block .charts-card .card-title {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  color: #333;
  font-weight: 600;
}

.charts-block .charts-card .card-title h4 {
  color: #333;
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1.5;
}

.charts-block .charts-card .card-title .btn {
  font-size: 12px;
  padding: 4px 8px;
}

.charts-block .charts-card .card-title .btn-graphics-toggle {
  width: 30px;
  height: 28px;
  overflow: visible;
}

.charts-block .charts-card .card-title .graphics-hide {
  display: none;
}

.charts-block .charts-card .card-title .graphics-date-picker {
  display: table;
  text-align: end;
}

.charts-block .charts-card .card-title .graphics-date-picker > a {
  display: inline-block;
}

.charts-block .charts-card .charts-list {
  height: 100%;
  position: relative;
  max-height: calc(100vh - 120px - 56px);
}

.charts-block .charts-card .charts-item {
  border: none !important;
}

.charts-block .charts-card .charts-title {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.charts-block .charts-card .charts-title h5 {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  line-height: 1.7;
}

.charts-block .charts-card .charts-title .charts-btns {
  white-space: nowrap;
  font-size: 20px;
}

.charts-block .charts-card .charts-title .charts-btn {
  color: #bcc3d3;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}

.charts-block .charts-card .charts-title .charts-btn:hover {
  color: #2b2e35;
}

.chart-card .card-body:after {
  overflow: hidden;
  content: '';
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
}

.chart-card .event-wrapper {
  text-align: justify;
}

.chart-card .event-wrapper:after {
  content: ' i i i i i i i i i i i i i i';
  word-spacing: 108px;
  padding-left: 108px;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.chart-card .event-chart {
  margin: 0px 7px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.chart-card .event-chart .chart-link {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 20px;
  z-index: 3;
}

.chart-card .event-chart .chart-link:hover {
  -webkit-box-shadow: 0px 0px 5px #2c3e50;
  box-shadow: 0px 0px 5px #2c3e50
}

.chart-card .chart {
  width: 100px;
  height: 100px;
}

.chart-card .chart .chart-wrap {
  margin: 0 auto;
  margin-top: -5px;
  max-width: 80%;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  white-space: nowrap;
  z-index: 2;
}

.chart-card .chart .chart-pic {
  display: block;
  margin: 0 auto;
  margin-bottom: -6px;
  height: 55px;
  width: 75px;
  background-position: center !important;
  background-size: contain !important;
}

.chart-card .chart .label {
  min-width: 27px;
  min-height: 16px;
  font-size: 9px;
  padding: 3px 8px;
  margin-top: 3px;
  line-height: inherit;
}

.chart-card .chart.normal-chart .chart-pic {
  background: url("../../../assets/images/icon/chart_black.svg") no-repeat;
}

.chart-card .chart.warning-chart .chart-pic {
  background: url("../../../assets/images/icon/chart_red.svg") no-repeat;
}

.chart-card .chart.warning-chart .bg {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100%;
  background-color: #ffe3e4;
  -webkit-animation: heartbit 1s ease-out infinite;
  animation: heartbit 1s ease-out infinite;
  border: 8px solid #ff5c6c;
}

.chart-card .chart.disabled-chart .chart-wrap {
  color: #d7dadb;
}

.chart-card .chart.disabled-chart .label {
  color: #d7dadb;
  background-color: #d7dadb;
}

.chart-card .chart.disabled-chart .chart-pic {
  background: url("../../../assets/images/icon/chart_grey.svg") no-repeat;
}

.swiper-nav {
  width: 100%;
  max-width: calc(100% - 190px);
}

.charts-top {
  width: 100%;
  padding: 0 40px;
  position: relative;
}

.slider-block {
  background-color: #292929;
}

.swiper-container {
  width: auto;
}

.swiper-slide {
  width: auto;
  text-align: center;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-button-next {
  top: 50%;
  right: 10px;
  background-size: contain;
  height: 30px;
  opacity: 0.5;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.swiper-button-next:hover {
  opacity: 1;
}

.swiper-button-prev {
  top: 50%;
  left: 10px;
  background-size: contain;
  height: 30px;
  opacity: 0.5;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.swiper-button-prev:hover {
  opacity: 1;
}

.top-chart {
  margin: 0px 5px;
}

.top-chart .chart-link {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 20px;
  z-index: 3;
}

.top-chart .chart-link:hover {
  -webkit-box-shadow: 0px 0px 5px #2c3e50;
  box-shadow: 0px 0px 5px #2c3e50
}

.top-chart .chart {
  width: 80px;
  height: 80px;
}

.top-chart .chart .chart-wrap {
  margin: 0 auto;
  margin-top: -5px;
  max-width: 80%;
  font-size: 10px;
  font-weight: 600;
  line-height: 1.2;
  white-space: nowrap;
  z-index: 2;
}

.top-chart .chart .chart-pic {
  display: block;
  margin: 0 auto;
  margin-bottom: -5px;
  height: 40px;
  width: 50px;
  background-position: center !important;
  background-size: contain !important;
}

.top-chart .chart .label {
  min-width: 27px;
  min-height: 14px;
  font-size: 7px;
  padding: 3px 6px;
  margin-top: 2px;
  line-height: inherit;
}

.top-chart .chart.normal-chart .chart-pic {
  background: url("../../../assets/images/icon/chart_black.svg") no-repeat;
}

.top-chart .chart.warning-chart .chart-pic {
  background: url("../../../assets/images/icon/chart_red.svg") no-repeat;
}

.top-chart .chart.disabled-chart .chart-pic {
  background: url("../../../assets/images/icon/chart_grey.svg") no-repeat;
}

.top-chart .chart.warning-chart .bg {
  height: 80px;
  width: 80px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100%;
  background-color: #ffe3e4;
  -webkit-animation: heartbit 1s ease-out infinite;
  animation: heartbit 1s ease-out infinite;
  border: 6px solid #ff5c6c;
}

.top-chart .chart.disabled-chart .chart-wrap {
  color: #d7dadb;
}

.top-chart .chart.disabled-chart .label {
  color: #d7dadb;
  background-color: #d7dadb;
}

.topbar-high .page-wrapper {
  padding-top: 126px;
}

.topbar-high .topbar .top-navbar .navbar-header {
  line-height: 126px;
}

.topbar-high .left-sidebar {
  padding-top: 126px;
}

.topbar-high.mini-sidebar .scroll-sidebar {
  top: 126px;
}

.topbar-high .charts-block .charts-card .charts-list {
  max-height: calc(100vh - 120px - 160px);
}

.topbar-high .event-card .event-list {
  max-height: calc(100vh - 120px - 104px);
}

.main-chart .main-chart-title .title-text {
  font-weight: 700;
}

.main-chart .main-chart-title .btn {
  font-size: 12px;
  padding: 4px 8px;
  margin-top: 4px;
  display: inline-table;
}

.main-chart .main-chart-title .btn-mobile {
  display: none;
  font-size: 20px;
  padding: 0 4px;
}

.main-chart .main-chart-date {
  margin-bottom: 10px;
}

.main-chart .main-chart-date .btn {
  font-size: 14px;
  padding: 4px 8px;
  margin-top: 4px;
}

.dop-chart .dop-chart-title .title-text {
  font-weight: 600;
}

.chart-dop .chart-dop-big {
  float: left;
}

.chart-dop .chart-dop-small {
  float: left;
}

.settings-card {
  height: 220px;
}

.settings-card .card-link {
  display: inline-block;
  margin-left: 0;
  margin-right: 20px;
  margin-bottom: 10px;
  color: #333;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  font-size: 15px;
  font-weight: normal;
}

.settings-card .card-link:hover {
  color: #fc4349 !important;
}

.settings-table thead th, .settings-table tbody td {
  border: none !important;
  white-space: nowrap;
}

.settings-table thead th {
  font-weight: bold;
}

.settings-table tbody tr:nth-of-type(odd) {
  background: #f3f4f4 !important;
}

.settings-table tbody tr:hover {
  -webkit-transition: background .2s ease;
  -o-transition: background .2s ease;
  transition: background .2s ease;
}

.settings-table tbody tr:hover {
  background: rgba(233, 237, 242, 1) !important;
}

.settings-table-card .table-top-wrap {
  margin-bottom: 15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.settings-table-card .table-top-wrap .btn {
  font-size: 13px;
  padding: 4px 8px;
}

.settings-table-card .table-top-wrap .touchspin {
  font-size: 13px;
  padding: 4px 8px;
  min-height: auto;
  max-width: 75px;
}

.settings-table-card .table-bottom-wrap {
  margin-top: 30px;
}

.settings-table-card .table-bottom-wrap .pagination {
  margin: 0;
  display: block;
}

.settings-table-card .table-bottom-wrap .page-item .page-link {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.settings-table-card .table-bottom-wrap .page-item.disabled .page-link {
  pointer-events: auto;
  cursor: not-allowed;
}

.settings-table-card .table-bottom-wrap .page-item.active .page-link {
  background-color: #e7eaec !important;
  color: #263238 !important;
  border-color: #DDDDDD !important;
}

@media screen and (max-width: 767px) {

  .left-sidebar {
    padding-bottom: 220px;
    width: 190px;
  }

  .mini-sidebar .hidden-text {
    display: none;
  }

  .mini-sidebar .sidebar-nav .notify {
    top: -16px;
    right: -27px;
  }

  .mini-sidebar .sidebar-nav li:hover .sidebar-link .notify {
    top: -16px;
    right: -27px;
  }

  .mini-sidebar .scroll-sidebar {
    bottom: 220px;
  }

  .mini-sidebar .sidebar-login {
    height: 220px;
  }

  .sidebar-login .sidebar-nav .sidebar-toggler {
    display: none;
  }

  .nav-filter a span {
    display: none;
  }

  .main-chart .main-chart-title .btn {
    display: none;
  }

  .main-chart .main-chart-title .btn-mobile {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .events-block {
    z-index: 10;
    position: fixed;
    right: 0px;
    width: auto;
    height: 100%;
    top: 70px;
    padding-right: 0;
  }

  .event-card .event-list {
    max-height: calc(100vh - 115px);
  }

  .topbar-high .event-card .event-list {
    max-height: calc(100vh - 120px - 50px);
  }

  .topbar-high .events-block {
    top: 126px;
  }

  .settings-table-card .table-top-wrap {
    display: block !important;
  }

  .settings-table-card .table-top-wrap .form-inline {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .settings-table-card .table-top-wrap .form-inline label {
    margin-bottom: 0;
  }

  .settings-table-card .table-top-wrap .form-inline .input-group {
    width: auto;
  }

}

@media screen and (max-width: 470px) {

  .chart-dop .chart-dop-big {
    float: none;
    display: block;
    margin: 0 auto;
    width: 300px !important;
  }

  .chart-dop .chart-dop-small {
    float: none;
    display: block;
    margin: 0 auto;
  }

}